Source: rust-pyo3-build-config
Section: rust
Priority: optional
Build-Depends: debhelper (>= 12),
 dh-cargo (>= 25),
 cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-once-cell-1+default-dev <!nocheck>,
 librust-target-lexicon-0.12+default-dev <!nocheck>
Maintainer: Debian Rust Maintainers <pkg-rust-maintainers@alioth-lists.debian.net>
Uploaders:
 Jelmer Vernooĳ <jelmer@debian.org>
Standards-Version: 4.6.1
Vcs-Git: https://salsa.debian.org/rust-team/debcargo-conf.git [src/pyo3-build-config]
Vcs-Browser: https://salsa.debian.org/rust-team/debcargo-conf/tree/master/src/pyo3-build-config
Homepage: https://github.com/pyo3/pyo3
X-Cargo-Crate: pyo3-build-config
Rules-Requires-Root: no

Package: librust-pyo3-build-config-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-once-cell-1+default-dev,
 librust-target-lexicon-0.12+default-dev
Suggests:
 librust-pyo3-build-config+python3-dll-a-dev (= ${binary:Version})
Provides:
 librust-pyo3-build-config+abi3-dev (= ${binary:Version}),
 librust-pyo3-build-config+abi3-py310-dev (= ${binary:Version}),
 librust-pyo3-build-config+abi3-py37-dev (= ${binary:Version}),
 librust-pyo3-build-config+abi3-py38-dev (= ${binary:Version}),
 librust-pyo3-build-config+abi3-py39-dev (= ${binary:Version}),
 librust-pyo3-build-config+default-dev (= ${binary:Version}),
 librust-pyo3-build-config+extension-module-dev (= ${binary:Version}),
 librust-pyo3-build-config+resolve-config-dev (= ${binary:Version}),
 librust-pyo3-build-config-0-dev (= ${binary:Version}),
 librust-pyo3-build-config-0+abi3-dev (= ${binary:Version}),
 librust-pyo3-build-config-0+abi3-py310-dev (= ${binary:Version}),
 librust-pyo3-build-config-0+abi3-py37-dev (= ${binary:Version}),
 librust-pyo3-build-config-0+abi3-py38-dev (= ${binary:Version}),
 librust-pyo3-build-config-0+abi3-py39-dev (= ${binary:Version}),
 librust-pyo3-build-config-0+default-dev (= ${binary:Version}),
 librust-pyo3-build-config-0+extension-module-dev (= ${binary:Version}),
 librust-pyo3-build-config-0+resolve-config-dev (= ${binary:Version}),
 librust-pyo3-build-config-0.17-dev (= ${binary:Version}),
 librust-pyo3-build-config-0.17+abi3-dev (= ${binary:Version}),
 librust-pyo3-build-config-0.17+abi3-py310-dev (= ${binary:Version}),
 librust-pyo3-build-config-0.17+abi3-py37-dev (= ${binary:Version}),
 librust-pyo3-build-config-0.17+abi3-py38-dev (= ${binary:Version}),
 librust-pyo3-build-config-0.17+abi3-py39-dev (= ${binary:Version}),
 librust-pyo3-build-config-0.17+default-dev (= ${binary:Version}),
 librust-pyo3-build-config-0.17+extension-module-dev (= ${binary:Version}),
 librust-pyo3-build-config-0.17+resolve-config-dev (= ${binary:Version}),
 librust-pyo3-build-config-0.17.3-dev (= ${binary:Version}),
 librust-pyo3-build-config-0.17.3+abi3-dev (= ${binary:Version}),
 librust-pyo3-build-config-0.17.3+abi3-py310-dev (= ${binary:Version}),
 librust-pyo3-build-config-0.17.3+abi3-py37-dev (= ${binary:Version}),
 librust-pyo3-build-config-0.17.3+abi3-py38-dev (= ${binary:Version}),
 librust-pyo3-build-config-0.17.3+abi3-py39-dev (= ${binary:Version}),
 librust-pyo3-build-config-0.17.3+default-dev (= ${binary:Version}),
 librust-pyo3-build-config-0.17.3+extension-module-dev (= ${binary:Version}),
 librust-pyo3-build-config-0.17.3+resolve-config-dev (= ${binary:Version})
Description: Build configuration for the PyO3 ecosystem - Rust source code
 This package contains the source for the Rust pyo3-build-config crate, packaged
 by debcargo for use with cargo and dh-cargo.

Package: librust-pyo3-build-config+python3-dll-a-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-pyo3-build-config-dev (= ${binary:Version}),
 librust-python3-dll-a-0.2+default-dev (>= 0.2.6-~~)
Provides:
 librust-pyo3-build-config-0+python3-dll-a-dev (= ${binary:Version}),
 librust-pyo3-build-config-0.17+python3-dll-a-dev (= ${binary:Version}),
 librust-pyo3-build-config-0.17.3+python3-dll-a-dev (= ${binary:Version})
Description: Build configuration for the PyO3 ecosystem - feature "python3-dll-a"
 This metapackage enables feature "python3-dll-a" for the Rust pyo3-build-config
 crate, by pulling in any additional dependencies needed by that feature.
